<!DOCTYPE html>
<html>
  <head>
    <title>Murmur</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='bar'>
      <a href= '/' class='title'>project murmur</a>
      <div id='nav'>
        <%= link_to 'politrees', politrees_path %>
      </div>
      <% if @user.nil? %>
        <div id='quicklogin'>
          <%= form_tag('/sessions/create', method: :post) do %>
            <input type='text' name='username' placeholder='username'></input>
            <input type='password' name='password' placeholder='password'></input>
            <input type='submit' value='log in'></input>
          <% end %>
          or <a href='/users/new'>sign up</a>
        </div>
      <% else %>
        <div id='quickpanel'>logged in as <%= @user.username %>. (<a href="/sessions/destroy">log out</a>)</div>
      <% end %>
    </div>

    <% unless flash.alert.empty? %>
      <div id='alerts'>
        <% flash.alert.each do |alert| %>
          <span class="alert"><%= alert %></span>
        <% end %>
      </div>
    <% end %>

    <% unless flash.notice.empty? %>
      <div id='notices'>
        <% flash.notice.each do |notice| %>
          <span class="notice"><%= notice %></span>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
