<!DOCTYPE html>
<html>
  <head>
    <title>Murmur</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='bar'>
      <a href= '/' class='title'>project murmur</a>
    </div>
    </div>

    <% unless flash.alert.empty? %>
      <div id='alerts'>
        <% flash.alert.each do |alert| %>
          <span class="alert"><%= alert %></span>
        <% end %>
      </div>
    <% end %>

    <% unless flash.notice.empty? %>
      <div id='notices'>
        <% flash.notice.each do |notice| %>
          <span class="notice"><%= notice %></span>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
