<!DOCTYPE html>
<html>
  <head>
    <title>Murmur</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='bar'>
      <a href= '/' class='title'>project murmur</a>
    </div>
    </div>


    <% flash.alert.each do |alert| %>
      <p style="color: #ff0000;"><%= alert %></p>
    <% end %>
    <% flash.notice.each do |notice| %>
      <p style="color: #0000ff;"><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
